# Ignora tutto nella directory principale (root) tranne le eccezioni
/*
!/modLoader/
!/modularClasses/
!/savingClasses/
!/.gitignore
!/README.md

#░░░░░░░░░░░▐
#░░░░░░▄▄▄░░▄██▄
#░░░░░▐▀█▀▌░░░░▀█▄
#░░░░░▐█▄█▌░░░░░░▀█▄
#░░░░░░▀▄▀░░░▄▄▄▄▄▀▀
#░░░░▄▄▄██▀▀▀▀
#░░░█▀▄▄▄█░▀▀
#░░░▌░▄▄▄▐▌▀▀▀
#▄░▐░░░▄▄░█░▀▀ YOU HAVE BEEN KITAMMUORTED BY THE
#▀█▌░░░▄░▀█▀░▀
#░░░░░░░▄▄▐▌▄▄
#░░░░░░░▀█░█░█▀▄
#░░░░░░▐▌▀▄▀▄▀▐▄ KITAMMUORT SKELETON
#░░░░░░▐▀░░░░░░▐▌
#░░░░░░█░░░░░░░░█
#░░░░░▐▌░░░░░░░░░█
#░░░░░█░░░░░░░░░░▐▌

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store