# Ignora tutto nella directory principale (root) tranne le eccezioni
/*
!/src/
!/.gitignore
!/README.md

# Dentro src, ignora tutto tranne la cartella rtrModGui
/src/*
!/src/rtrModGui/
!/src/rtr/
!/src/unusedClasses/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store